h3 {
    padding: 10px;
    text-align: center;
}

// .spinner {
//     flex-direction: column;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.cont {
    max-width: 1200px;
    margin: 0 auto;
}